@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_BulmaLayout.cshtml";

}
<style>
    .card {
        height: 100%;
    }
</style>
<section class="hero themeBGColor is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                @Model.homePageData.TagLine
            </h1>
            <h2 class="subtitle">
                @Model.homePageData.MainIntro
            </h2>
        </div>
    </div>
</section>
@if (!string.IsNullOrEmpty(Model.homePageData.Announcement))
{
    <div class="box cta">
        <p class="has-text-centered">
            <span class="tag is-link">New</span> @Model.homePageData.Announcement
        </p>
    </div>
}
<section class="container">
    <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-delicious"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>@Model.homePageData.QualityProductHeading</h4>
                        <p>
                            @Model.homePageData.QualityProductText
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-truck"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>@Model.homePageData.DeliveryHeading</h4>
                        <p>
                            @Model.homePageData.DeliveryText
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-at"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>@Model.homePageData.CustomerServiceHeading</h4>
                        <p>
                            @Model.homePageData.CustomerServiceText
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro column is-8 is-offset-2">
        <h2 class="title">@Model.homePageData.ProductHeading</h2><br>
        <p class="subtitle">
            @Model.homePageData.ProductIntro
        </p>
    </div>
    <div class="row columns is-multiline">
        @foreach (var p in Model.Products)
        {
            <div class="column is-one-third" >
                <div class="card large round">
                    <div class="card-image ">
                        <figure class="image">
                            <img src=@p.PicUrl alt="@p.Name">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <div class="title has-text-link"> @p.Name</div>
                        <div class="content">
                            @p.Description
                        </div>
                        <a class="button is-outlined is-link is-12" href="/Quotation/@p.ID">Get A Quote</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
